.category-product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.category-product-title {
  font-size: 38px;
  text-align: center;
  margin-top: 0;
}
